.navbar-default.navbar {
    background-color: #1237FF;
}

.navbar-default.navbar a {
    color: #fff;
}

#bs-example-navbar-collapse-1 a{
    color: #fff;
}

body {
    background: #ccc;
}

.panel-body.panel-login {
    padding: 10px;
}

div.panel-heading.text-center {
    background-color: #0024E5;
    color: #fff;
}

div.panel-heading.text-center:hover {
    color: #ccc;
    cursor: default;
}

.panel-body {
    padding: 0;
}

#now .panel-body {
    padding: 10px;
}

#humidtempUpdate {
    margin-top: 100px;
}

#powerUpdate {
    margin-top: 120px;
}

.lead {
    font-size: 35px;
    margin-bottom: 5px;
}

#chart_energy_div {
    width: 100%;
    height: 325px;
}

#chart_humid_temp_div,
#chart_energy_graph_div {
    width: 100%;
    height: 345px;
}

.dropdown a {
  text-decoration: none;
  color: #fff;
}

.dropdown a:hover {
    color: #ccc;
    cursor: default;
}

ul.dropdown-menu{
    margin-left: 45%;
}



