#now {
    width: 300px;
}

#graph {
    width: 820px;
}

#energy {
    width: 300px;
    height: 365px;
}

#humidtempUpdate {
    margin-top: 100px;
}

#powerUpdate {
    margin-top: 120px;
}

.lead {
    font-size: 35px;
    margin-bottom: 5px;
}


